*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
    background-color: #2c1567;
    height:68px;
    position:fixed;
    width:100%;
    top: 0;
    right: 0;
    left: 0;
	z-index:979;
	
}
.headerflex{
	display:flex;
	justify-content:space-between;
}
.headerlogo h2{
	font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	padding-top:20px;
}
.headerlogo a{
	text-decoration:none;
	color:#fff;
}
.headerlogo span{
	color: #515aa4;
}
.navbar{
	
}
.navbar ul{
position: absolute;
top: 8vh;
right: 0%;
width: 40vh;
background-color: #2c1567;
flex-direction: column;
height: 75vh;
text-align: center;
transform: translateX(100%);

}
.navbar li{
	padding-top: 4vh;
	padding-bottom: 5vh;
	
	
}
.navbar a{
	text-decoration:none;
	color: #fff;
	
}
.navbar li:hover a{
	color: #515aa4;
	 transition:all 0.5s  ease;
	 transition: .2s;
}
.arrow{
	display: block;
	height: 4vh;
	width: 45px;
	transform: translateY(65%);
	
}
.line1,.line2,.line3{
	height: 25%;
	width: 100%;
	margin-top: 2px;
	background-color: #fff;
	border-radius:2px;
	
}
.line1{
	background-color:#fff;
}
.line3 {
	background-color:#fff;
}
.display{
	transform: translateX(0%);
}
.toggle1{
	transform: rotate(40deg)translate(8px ) ;
}
.toggle2{
	display: none;
}
.toggle3{
	transform: rotate(-40deg)translate(8px) ;
}
.arrow:hover .toggle1{
	background-color: red;
}
.arrow:hover .toggle3{
	background-color: red;
}
.cvbtn button{
	padding: 10px 20px;
	margin-top: 15px;
	background-color: #2c1567;
	font-size:16px ;
	color:white ;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 10px;
}
.cvbtn:hover button{
	background-color: #515aa4;
}


@media (min-width:768px){
	.container{
		width: 90%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.header{
		background-color: #2c1567;
		height:68px;
		position:fixed;
		width:100%;
		top: 0;
		right: 0;
		left: 0;
		z-index:979;
		
	}
	.headerflex{
		display:flex;
		justify-content:space-between;
	}

	.navbar{
		
	}
	.navbar ul{
	position: absolute;
	top: 6.6vh;
	right: 0%;
	width: 70vh;
	background-color: #2c1567;
	flex-direction: column;
	height: 75vh;
	text-align: center;
	transform: translateX(100%);
	
	}
	.navbar li{
		padding-top: 4vh;
		padding-bottom: 5vh;
		
		
	}
	.navbar a{
		text-decoration:none;
		color: #fff;
		
	}
	.navbar li:hover a{
		color: #515aa4;
		 transition:all 0.5s  ease;
		 transition: .2s;
	}
	.arrow{
		display: block;
		height: 3vh;
		width: 43px;
		transform: translateY(70%);
		
	}
	.line1,.line2,.line3{
		height: 25%;
		width: 100%;
		margin-top: 2px;
		background-color: #fff;
		border-radius:2px;
		
	}
	.line1{
		background-color:#fff;
	}
	.line3 {
		background-color:#fff;
	}
	.display{
		transform: translateX(0%);
	}
	.toggle1{
		transform: rotate(40deg)translate(8px ) ;

	}
	.toggle2{
		display: none;
	}
	.toggle3{
		transform: rotate(-40deg)translate(8px) ;
	}
	.arrow:hover .toggle1{
		background-color: red;
	}
	.arrow:hover .toggle3{
		background-color: red;
	}
	.cvbtn button{
		padding: 10px 20px;
		margin-top: 15px;
		background-color: #2c1567;
		font-size:16px ;
		color:white ;
		cursor: pointer;
		border: 1px solid #fff;
		border-radius: 10px;
	}
	.cvbtn:hover button{
		background-color: #515aa4;
	}
	
}	
@media (min-width:1024px){
	.container{
		width: 83%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.header{
		background-color: #2c1567;
		height:68px;
		position:fixed;
		width:100%;
		top: 0;
		right: 0;
		left: 0;
		z-index:979;
	}
	.headerflex{
		display: flex;
		justify-content: space-between;
		
	}
	
	.navbar ul{
		display:flex;
		position:absolute;
	top: 0vh;
	right:96%;
	width: 0vh;
	flex-direction:unset;
	height:0vh;
	text-align:unset;
	transform:none;
	background-color: unset;
	
	   
	}
	.navbar li{
		
		margin:25px 30px;
		font-size: 16px;
		transform: translateY(-40%);
		font-family: "Poppins", sans-serif;
	   
	}
	.navbar a{
		text-decoration:none;
		color:#fff;
		transition: .3s;
	}
	.navbar li:hover a{
		color: #515aa4;
		 transition:all 0.5s  ease;
		 transition: .2s;
	}
	.arrow{
		display: none;
	}
	.display{
		display: none;
	}
	.cvbtn{
		
	}
	.cvbtn button{
		padding: 10px 20px;
		margin-top: 15px;
		background-color: #2c1567;
		font-size:16px ;
		color:white ;
		cursor: pointer;
		border: 2px solid #fff;
		border-radius: 10px;
	}
	.cvbtn:hover button{
		background-color: #515aa4;
	}
}

/*banner start */
.container{
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.banner{
	 position: relative;
}
.bannerimage{
	display: flex;
    align-items: center;
    width: 100%;
	height:800px;
    background-image:url(../image/banner.jpg);
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center 0;
}
.bannerimage:after{
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#444, transparent);
}
.bannercontent{
	position:absolute;
	top:60%;
	right:4%;
}
.bannercontent h1{
	font-size: 40px;
    font-weight: 700;
    line-height: 60px;
	margin-left: 30px;
    color: #fff;
	font-family: "Raleway", sans-serif;
	padding-bottom:20px;
}
.bannercontent h2{
	color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
	margin-left: 30px;
    font-family: "Poppins", sans-serif;
}
.bannericon a{
	font-size:40px;
	margin-left:30px;
	color:#fff;
	display: inline-block;
	transition: .3s;
}
.bannericon a:hover{
   color:#515aa4;
   transition:all 0.5s ease;
    transition: .2s;
}
@media (min-width:768px){
	.container{
		width: 90%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.banner{
		 position: relative;
	}
	.bannerimage{
		display: flex;
		align-items: center;
		width: 100%;
		height:800px;
		background-image:url(../image/banner.jpg);
		
		background-size: cover;  
		background-repeat: no-repeat; 
		background-position: center 0;
		
	}
	.bannerimage:after{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(#444, transparent);
		
	}
	.bannercontent{
		position:absolute;
		top:60%;
		right:4%;
	}
	.bannercontent h1{
		font-size: 50px;
		font-weight: 700;
		line-height: 56px;
		color: #fff;
		font-family: "Raleway", sans-serif;
		padding-bottom:20px;
	}
	.bannercontent h2{
		color: #fff;
		margin-bottom: 50px;
		font-size: 26px;
		font-family: "Poppins", sans-serif;
	}
	.bannericon a{
		font-size:40px;
		margin-left:60px;
		color:#fff;
		display: inline-block;
		transition: .3s;
	}
	.bannericon a:hover{
	    color:#515aa4;
	   transition:all 0.5s ease;
		transition: .2s;
	}
	
}
@media (min-width:1024px){
	.container{
		width: 83%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.banner{
		 position: relative;
	}
	.bannerimage{
		display: flex;
		align-items: center;
		width: 100%;
		height:800px;
		background-image:url(../image/banner.jpg);
		background-size: cover;  
		background-repeat: no-repeat; 
		background-position: center 0;
	}
	.bannerimage:after{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(#444, transparent);
		
	}
	.bannercontent{
		position:absolute;
		top:40%;
		right:4%;
	}
	.bannercontent h1{
		font-size: 58px;
		font-weight: 700;
		line-height: 56px;
		color: #fff;
		font-family: "Raleway", sans-serif;
		padding-bottom:20px;
	}
	.bannercontent h2{
		color: #fff;
		margin-bottom: 50px;
		font-size: 26px;
		font-family: "Poppins", sans-serif;
	}
	.bannericon a{
		font-size:40px;
		margin-left:60px;
		color:#fff;
		display: inline-block;
		transition: .3s;
	}
	.bannericon a:hover{
	    color:#515aa4;
	   transition:all 0.5s ease;
		transition: .2s;
	}
	
}
/*banner end */
/* about start */
.container{
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.about{
	padding-top:20px;
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}
.aboutheading{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
.aboutheading h2{
	font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
}
.abouthrline{
    border-bottom:3px solid #2c1567;
	width:17%;
	margin-left:41.5%;
	padding-top:5px;
}
.aboutflex{
	width:100%;
	margin-top:30px;
}
.aboutimage{
	width:100%;
	
  
}
.abouttext{
	width:100%;
	padding-top:20px;
}
.aboutimage img{
	width:100%;
	height: 100%;
}
.imagetext{
	
}
.imagetext h4{
	font-size: 20px;
    letter-spacing: 1px;
	padding-bottom:20px;
	font-family: "Poppins", sans-serif;
}
.imagetext span:hover{
	color:#515aa4;
	transition:all 0.5s ;
	cursor:pointer;
}
.imagetext h3:hover{
	color:#515aa4;
	transition:all 0.5s ;
	cursor:pointer;
}
.abouttext h3{
	font-size: 25px;
    letter-spacing: 1px;
	padding-bottom:10px;
	font-family: "Poppins", sans-serif;
	color:#2c1567;
	font-weight:600;
}
.abouttext p{
	font-size: 14px;
    letter-spacing: 1px;
	line-height:20px;
	font-family: "open-sans", sans-serif;
	padding-bottom:15px;
}
.imagetext span {
	font-size:20px;
	font-weight: 700;
	color: #2c1567;
}
@media (min-width:768px){
	.container{
		width: 90%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.about{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	}
	.aboutheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.aboutheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.abouthrline{
		border-bottom:3px solid #2c1567;
		width:17%;
		margin-left:41.5%;
		padding-top:5px;
	}
	.aboutflex{
		display:flex;
		width:100%;
		margin-top:30px;
		margin-bottom: 30px;
	}
	.aboutimage{
		width:50%;
		
		
	}
	.abouttext{
		width:50%;
		
	}
	.aboutimage img{
		width:90%;
		height:100%;
		
		
	}
	.imagetext{
		padding-top: 0px;
		margin-top: 0px;
	}
	.imagetext h4{
		font-size: 20px;
		letter-spacing: 1px;
		padding-bottom:20px;
		font-family: "Poppins", sans-serif;
	}
	.imagetext span:hover{
		color:#515aa4;
		transition:all 0.5s ;
		cursor:pointer;
	}
	.imagetext h3:hover{
		color:#515aa4;
		transition:all 0.5s ;
		cursor:pointer;
	}
	.abouttext h3{
		font-size: 25px;
		letter-spacing: 1px;
		padding-bottom:10px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
		font-weight:600;
	}
	.abouttext p{
		font-size: 14px;
		letter-spacing: 1px;
		line-height:20px;
		font-family: "open-sans", sans-serif;
		padding-bottom:15px;
	}
	.imagetext span {
		font-size:20px;
		font-weight: 700;
		color:#2c1567;
	}
}
@media (min-width:1024px){
	.container{
		min-width: 83%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.about{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	}
	.aboutheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.aboutheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.abouthrline{
		border-bottom:3px solid #2c1567;
		width:17%;
		margin-left:41.5%;
		padding-top:5px;
	}
	.aboutflex{
		display:flex;
		width:100%;
		margin-top:30px;
	}
	.aboutimage{
		width:50%;
		
	}
	.abouttext{
		width:50%;
		padding-top:10px;
	}
	.aboutimage img{
		width:90%;
		height:100%;
		
	}
	.imagetext{
		padding-top:15px;
	}
	.imagetext h4{
		font-size: 20px;
		letter-spacing: 1px;
		padding-bottom:25px;
		font-family: "Poppins", sans-serif;
	}
	.imagetext span:hover{
		color:#515aa4;
		transition:all 0.5s ;
		cursor:pointer;
	}
	.imagetext h3:hover{
		color:#515aa4;
		transition:all 0.5s ;
		cursor:pointer;
	}
	.abouttext h3{
		font-size: 25px;
		letter-spacing: 1px;
		padding-bottom:15px;
		font-family: "Poppins", sans-serif;
		color:#2c1567;
		font-weight:600;
	}
	.abouttext p{
		font-size: 18px;
		letter-spacing: 1px;
		line-height:28px;
		font-family: "open-sans", sans-serif;
		padding-bottom:20px;
	}
	.imagetext span {
		font-size:20px;
		font-weight: 700;
		color:#2c1567;
	}
}
/*about end */
.container{
width: 100%;
margin: auto;
padding-left: 15px;
padding-right: 15px;
}
.skils{
	padding-top:20px;
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	padding-bottom:50px;
}
.skilsheading{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
.skilsheading h2{
	font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
}
.skilshrline{
    border-bottom:3px solid #2c1567;
	width:15%;
	margin-left:42.5%;
	padding-top:5px;
}
.skilsflex{
	display:flex;
	flex-wrap: wrap;
	padding-top:20px;
	text-align:center;
	justify-content: space-around;
}
.skilimage{
	width:40%;
	height: 70%;
	margin-top: 20px;
	
}
.skilimage img{
	width:100%;
	height:100%;
	padding:8px 8px;
	border-radius:50%;
	background-color: #2c1567;
	
}
.skilimage h2{
	font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
	transition: .3s;
}
.skilimage h2:hover {
	color: #515aa4;
	transition:all 0.5s  ease;
	transition: .2s;
	cursor:pointer;
}
@media (min-width:768px){
	.container{
		min-width: 90%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
		
	}
	.skils{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
		padding-bottom:50px;
	}
	.skilsheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.skilsheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.skilshrline{
		border-bottom:3px solid #2c1567;
		width:15%;
		margin-left:42.5%;
		padding-top:5px;
	}
	.skilsflex{
		display:flex;
		padding-top:20px;
		text-align:center;
		justify-content: space-around;
	}
	.skilimage{
		width:30%;
		height: 70%;
		margin-top: 20px;
		
	}
	.skilimage img{
		width:100%;
		height:100%;
		padding:8px 8px;
		border-radius:50%;
		background-color: #2c1567;
		
	}
	.skilimage h2{
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
		padding-top:10px;
		transition: .3s;
	}
	.skilimage h2:hover {
		color: #515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
		cursor:pointer;
	}
}
@media (min-width:1024px){
	.container{
		width: 83%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.skils{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
		padding-bottom:50px;
	}
	.skilsheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.skilsheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.skilshrline{
		border-bottom:3px solid #2c1567;
		width:15%;
		margin-left:42.5%;
		padding-top:5px;
	}
	.skilsflex{
		display:flex;
		justify-content: space-around;
		padding-top:20px;
		text-align:center;
	}
	.skilimage{
		width:12%;
		height: 70%;
		box-sizing: border-box;
		
	}
	.skilimage img{
		width:100%;
		height:100%;
		padding:8px 8px;
		border-radius:50%;
		background-color: #2c1567;
		
	}
	.skilimage h2{
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
		padding-top:10px;
		transition: .3s;
	}
	.skilimage h2:hover {
		color: #515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
		cursor:pointer;
	}
}
/* skill end */
/* resume start */
.container{
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.resume{
	padding-top:20px;
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}
.resumeheading{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
.resumeheading h2{
	font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
}
.resumehrline{
    border-bottom:3px solid #2c1567;
	width:35%;
	margin-left:32%;
	padding-top:5px;
	
}
.resumeflex{

}
.resumecontent1{
	width:100%;
	
}
.resumecontent2{
	width:100%;
	
	
}
.resumecollege h2{
	font-size: 28px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
.resumecollege h3{
	font-size: 22px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
.resumecollege h4{
	font-size: 18px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
.resumecollege p{
	font-size: 16px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
.resumecollege p{
	font-size: 16px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
.resumetraining  h3{
	font-size: 28px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
.resumetraining h4{
	font-size: 16px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
}
@media (min-width:768px){
	.container{
		width: 90%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.resume{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	}
	.resumeheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.resumeheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.resumehrline{
		border-bottom:3px solid #2c1567;
		width:27%;
		margin-left:36.6%;
		padding-top:5px;
		
	}
	.resumeflex{
		display:flex;
		width: 100%;
	}
	.resumetraining{
		width: 50%;
	}
	
	.resumecollege{
		width: 50%;
		padding-bottom:20px;
	}
	
	.resumecollege h2{
		font-size: 28px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege h3{
		font-size: 22px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege h4{
		font-size: 18px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege p{
		font-size: 16px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege p{
		font-size: 16px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumetraining  h3{
		font-size: 28px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumetraining h4{
		font-size: 16px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
}
@media (min-width:1024px){
	.container{
		width: 83%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.resume{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	}
	.resumeheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.resumeheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.resumehrline{
		border-bottom:3px solid #2c1567;
		width:20%;
		margin-left:40%;
		padding-top:5px;
		
	}
	.resumeflex{
		display: flex;
		justify-content: space-between;
		width: 100%;
		
	}
	.resumecollege{
		width: 50%;
	}
	.resumetraining{
		width: 50%;
	}
	.resumecollege h2{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege h3{
		font-size: 25px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege h4{
		font-size: 20px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege p{
		font-size: 18px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumecollege p{
		font-size: 18px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumetraining{
		margin-left: 30px;
	}
	.resumetraining  h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
	.resumetraining h4{
		font-size: 18px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
	}
}
/*resume end */
/*work start */
.container{
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.work{
	padding-top:20px;
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	padding-bottom:50px;
}
.workheading{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
.workheading h2{
	font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
}
.workhrline{
    border-bottom:3px solid #2c1567;
	width:15%;
	margin-left:42.5%;
	padding-top:5px;
}
.workflex{
	
	padding-top:20px;
	text-align:center;
}
.bocorwork{
	width:100%;
	
}
.mambawork{
	width:100%;
	padding-top: 30px;
}
.jswork{
	width:100%;
	padding-top: 30px;
}
.bocorwork img{
	width:100%;
	height:80%;
	border-radius:10px;
}
.mambawork img{
	width:100%;
	height:80%;
	border-radius:10px;
}
.jswork img{
	width:100%;
	height:75%;
	border-radius:10px;
}
.bocorwork h3{
	font-size: 32px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
	padding-top:15px
}
.bocorwork button{
	padding:18px 28px;
	background-color: #2c1567;
	border-radius:10px;
	border:none;
	font-size: 16px;
}
.bocorwork a{
	text-decoration:none;
	color:#fff;
}
.mambawork h3{
	font-size: 32px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
	padding-top:15px
}
.mambawork button{
	padding:18px 28px;
	background-color: #2c1567;
	border-radius:10px;
	border:none;
	font-size: 16px;
}
.mambawork a{
	text-decoration:none;
	color:#fff;
}
.mambawork button:hover {
	background-color:#515aa4;
	transition:all 0.5s  ease;
	transition: .2s;
}
.bocorwork button:hover {
	background-color:#515aa4;
	transition:all 0.5s  ease;
	transition: .2s;
}
.jswork button:hover {
	background-color:#515aa4;
	transition:all 0.5s  ease;
	transition: .2s;
}
.jswork h3{
	font-size: 32px;
    letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color:  #2c1567;
	padding-bottom:10px;
	padding-top:15px
}
.jswork button{
	padding:18px 28px;
	background-color: #2c1567;
	border-radius:10px;
	border:none;
	font-size: 16px;
}
.jswork a{
	text-decoration:none;
	color:#fff;
}
@media (min-width:768px){
	.container{
		width: 90%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.work{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
		padding-bottom:50px;
	}
	.workheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.workheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.workhrline{
		border-bottom:3px solid #2c1567;
		width:15%;
		margin-left:42.5%;
		padding-top:5px;
	}
	.workflex{
		display:flex;
		flex-wrap: wrap;
		padding-top:20px;
		text-align:center;
	}
	.bocorwork{
		width:50%;
		padding-left:40px;
		padding-top: 30px;
		
	}
	.mambawork{
		width:50%;
		padding-left:40px;
	}
	.jswork{
		width:50%;
		padding-left:40px;
		padding-top: 80px;
	}
	.bocorwork img{
		width:100%;
		height:80%;
		border-radius:10px;
	}
	.mambawork img{
		width:100%;
		height:80%;
		border-radius:10px;
	}
	.jswork img{
		width:100%;
		height:75%;
		border-radius:10px;
		
	}
	.bocorwork h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
		padding-top:15px
	}
	.bocorwork button{
		padding:18px 28px;
		background-color: #2c1567;
		border-radius:10px;
		border:none;
		font-size: 16px;
		cursor: pointer;
	}
	.bocorwork a{
		text-decoration:none;
		color:#fff;
	}
	.mambawork h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
		padding-top:15px
	}
	.mambawork button{
		padding:18px 28px;
		background-color:#2c1567;
		border-radius:10px;
		border:none;
		font-size: 16px;
	}
	.mambawork a{
		text-decoration:none;
		color:#fff;
	}
	.mambawork button:hover {
		background-color:#515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
	}
	.bocorwork button:hover {
		background-color:#515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
	}
	.jswork button:hover {
		background-color:#515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
	}
	.jswork h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
		padding-top:15px
	}
	.jswork button{
		padding:18px 28px;
		background-color: #2c1567;
		border-radius:10px;
		border:none;
		font-size: 16px;
	}
	.jswork a{
		text-decoration:none;
		color:#fff;
	}
}
@media (min-width:1024px){
	.container{
		width: 83%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.work{
		padding-top:20px;
		margin-bottom: 30px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	}
	.workheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.workheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.workhrline{
		border-bottom:3px solid #2c1567;
		width:15%;
		margin-left:42.5%;
		padding-top:5px;
	}
	.workflex{
		display:flex;
		padding-top:20px;
		text-align:center;
		margin-bottom: 30px;
	}
	.bocorwork{
		width:33.33%;
		padding-left:40px;
		
	}
	.mambawork{
		width:33.33%;
		padding-left:40px;
	}
	.jswork{
		width:33.33%;
		padding-left:40px;
		padding-top: 30px;
	}
	.bocorwork img{
		width:100%;
		height:78%;
		border-radius:10px;
		
	}
	.mambawork img{
		width:100%;
		height:78%;
		border-radius:10px;
	}
	.jswork img{
		width:100%;
		height:78%;
		border-radius:10px;
	}
	.bocorwork h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
		padding-top:15px
	}
	.bocorwork button{
		padding:15px 20px;
		background-color: #2c1567;
		border-radius:10px;
		border:none;
		font-size: 16px;
	}
	.bocorwork a{
		text-decoration:none;
		color:#fff;
	}
	.mambawork h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:10px;
		padding-top:15px
	}
	.mambawork button{
		padding:15px 20px;
		background-color: #2c1567;
		border-radius:10px;
		border:none;
		font-size: 16px;
	}
	.mambawork a{
		text-decoration:none;
		color:#fff;
	}
	.mambawork button:hover {
		background-color:#515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
	}
	.bocorwork button:hover {
		background-color:#515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
	}
	.jswork button:hover {
		background-color:#515aa4;
		transition:all 0.5s  ease;
		transition: .2s;
	}
	.jswork h3{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:  #2c1567;
		padding-bottom:13px;
		padding-top:10px
	}
	.jswork button{
		padding:15px 20px;
		background-color: #2c1567;
		border-radius:10px;
		border:none;
		font-size: 16px;
	}
	.jswork a{
		text-decoration:none;
		color:#fff;
	}
	
}
/*work end */
/*contact start */
.container{
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.contact{
	padding-top:20px;
	background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
	padding-bottom:20px;
}
.contactheading{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}
.contactheading h2{
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
}
.contacthrline{
	border-bottom:3px solid #2c1567;
	width:15%;
	margin-left:42.5%;
	padding-top:5px;
}
.contactflex{
	display: block;
}

.addresscontact{
	width: 100%;
	height: 175px;
	text-align:center;
	box-shadow: 0 0 20px #ccc;
	padding: 20px;
	margin-bottom: 20px;
}
.listcontact{
	width: 100%;
	height: 175px;
	text-align:center;
	box-shadow: 0 0 20px #ccc;	
	padding: 20px;
	line-height: 50px;
	margin-bottom: 20px;
}
.listcontact2{
	width: 100%;
	height: 175px;
	text-align:center;
	box-shadow: 0 0 20px #ccc;
	padding: 20px;
	line-height: 50px;
	margin-bottom: 20px;
	
}
.listcontact3{
	width: 100%;
	height: 175px;
	text-align:center;
	box-shadow: 0 0 20px #ccc;
	padding: 20px;
	line-height: 50px;
	margin-bottom: 20px;
}
.addresscontact i{
	font-size: 32px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #2c1567;
}
.addresscontact h3{
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
	line-height: 20px;
}
.listcontact a{
	font-size: 32px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #2c1567;
	text-decoration:none;
	
}
.listcontact h3{
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	color: #444;
	
}
.listcontact2 a{
	font-size: 32px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #2c1567;
	text-decoration:none;
	
}
.listcontact2 h3{
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
	
}
.listcontact3 a{
	font-size: 32px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #2c1567;
	text-decoration:none;
}
.listcontact3 h3{
	font-size: 14px;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	color: #444;
}
i:hover{
	color: #515aa4;
}

@media (min-width:768px){
	.container{
		width: 90%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.contact{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
		padding-bottom:20px;
	}
	.contactheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.contactheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.contacthrline{
		border-bottom:3px solid #2c1567;
		width:15%;
		margin-left:42.5%;
		padding-top:5px;
	}
	.contactflex{
	   display: flex;
	   flex-wrap: wrap;
	  justify-content: space-evenly;
	}
	
	.addresscontact{
		width: 45%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;
		padding: 20px;
		
	}
	.listcontact{
		width: 45%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;	
		padding: 20px;
		line-height: 50px;
	}
	.listcontact2{
		width: 45%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;
		padding: 20px;
		line-height: 50px;
		
		
	}
	.listcontact3{
		width: 45%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;
		padding: 20px;
		line-height: 50px;
		
	}
	.addresscontact i{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
	}
	.addresscontact h3{
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
		line-height: 20px;
	}
	.listcontact a{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
		text-decoration:none;
		
	}
	.listcontact h3{
		font-size: 14px;
		font-family: "Poppins", sans-serif;
		color: #444;
		
	}
	.listcontact2 a{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color:#2c1567;
		text-decoration:none;
		
	}
	.listcontact2 h3{
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
		
	}
	.listcontact3 a{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
		text-decoration:none;
	}
	.listcontact3 h3{
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	i:hover{
		color: #515aa4;
	}
}

@media (min-width:1024px){
	.container{
		width: 83%;
		margin: auto;
		padding-left: 15px;
	    padding-right: 15px;
	}
	.contact{
		padding-top:20px;
		background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
		padding-bottom:50px;
	}
	.contactheading{
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
	}
	.contactheading h2{
		font-size: 32px;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	.contacthrline{
		border-bottom:3px solid #2c1567;
		width:15%;
		margin-left:42.5%;
		padding-top:5px;
	}
	.contactflex{
		display: flex;
		flex-wrap: nowrap;
	}
	
	.addresscontact{
		width: 25%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;
		padding: 20px;
		margin-left: 20px;
	}
	.listcontact{
		width: 25%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;	
		padding: 20px;
		line-height: 50px;
		margin-left: 20px;
	}
	.listcontact2{
		width: 25%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;
		padding: 20px;
		line-height: 50px;
		margin-left: 20px;
		
	}
	.listcontact3{
		width: 25%;
		height: 175px;
		text-align:center;
		box-shadow: 0 0 20px #ccc;
		padding: 20px;
		line-height: 50px;
		margin-left: 20px;
		
	}
	.addresscontact i{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
	}
	.addresscontact h3{
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
		line-height: 20px;
	}
	.listcontact a{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
		text-decoration:none;
		
	}
	.listcontact h3{
		font-size: 14px;
		font-family: "Poppins", sans-serif;
		color: #444;
		
	}
	.listcontact2 a{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
		text-decoration:none;
		
	}
	.listcontact2 h3{
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
		
	}
	.listcontact3 a{
		font-size: 32px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #2c1567;
		text-decoration:none;
	}
	.listcontact3 h3{
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Poppins", sans-serif;
		color: #444;
	}
	i:hover{
		color:#515aa4;
	}
}
/* contact end */
/*leagal start */
.container {
	width: 100%;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.legal {
    background-color:#2c1567;
}
.legal-flex {
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 30px;
}

.copyright h4{
    color: #fff;
    padding-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.copyright a{
    text-decoration: none;
    color:#515aa4;
	font-size: 23px;
}
@media (min-width:768px){
	.container {
		width: 90%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.legal {
		background-color: #2c1567;
	}
	.legal-flex {
		display: flex;
		justify-content: center;
		height: 100px;
		padding-top: 30px;
	}
	
	.copyright h4{
		color: #fff;
		padding-top: 10px;
		text-align: center;
		line-height: 30px;
		font-size: 20px;
		font-family: 'Times New Roman', Times, serif;
	}
	.copyright a{
		text-decoration: none;
		color: #515aa4;
		font-size: 23px;
	}
	
}
@media (min-width:1024px){
	.container {
		width: 83%;
		margin: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.legal {
		background-color: #2c1567;
	}
	.legal-flex {
		display: flex;
		justify-content: center;
		height: 100px;
		padding-top: 30px;
	}
	.copyright h4{
		color: #fff;
		padding-top: 10px;
		text-align: center;
		line-height: 30px;
		font-size: 20px;
		font-family: 'Times New Roman', Times, serif;
	}
	.copyright a{
		text-decoration: none;
		color:#515aa4;
		font-size: 23px;
	}
	
}